.hr_izquierda {
  height: 5px;
  width: 35%;
  background-color: black;
  margin-left: 3%;
  margin-right: 40%;
}

.hr_derecha {
  height: 5px;
  width: 35%;
  background-color: black;
  margin-left: 60%;
  margin-right: 7%;
}

.titulo {
  margin-bottom: 50px;
  margin-left: 550px;
  width: 500px;
  height: 40px;
}

.form-post {
  margin-right: 100px;
  margin-left: 350px;
}

.form-hor {
  padding-left: 300px;
  padding-top: 20px;
  width: 1200px;
  height: 100px;
}

.btn {
  border-radius: 3px;
  padding: 20 px 15 px;
  text-decoration: none;
  text-shadow: 0 1px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial;
}
#main-container {
  margin: 150px auto;
  width: 600px;
}

table {
  background-color: rgb(255, 255, 255);
  text-align: left;
  width: 80%;
  margin: auto;
}

th,
td {
  padding: 20;
}

thead {
  background-color: #6b2da5;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #365896;
  color: white;
}
