.hr_izquierda {
  height: 5px;
  width: 35%;
  background-color: black;
  margin-left: 3%;
  margin-right: 40%;
}

.hr_derecha {
  height: 5px;
  width: 35%;
  background-color: black;
  margin-left: 60%;
  margin-right: 7%;
}

#izquierda,
#derecha,
#centro {
  width: 150 px;
}

#izquierda {
  float: left;
}

#derecha {
  float: right;
}

#centro {
  margin-left: 160px;
}

.titulo {
  height: 500px;
  margin-left: 35%;
}

form {
  width: 1000px;
  display: block;
  text-align: justify;
}
