.hr_izquierda {
  height: 5px;
  width: 35%;
  background-color: black;
  margin-left: 3%;
  margin-right: 40%;
}

.hr_derecha {
  height: 5px;
  width: 35%;
  background-color: black;
  margin-left: 60%;
  margin-right: 7%;
}

.titulo {
  margin-bottom: 50px;
  margin-left: 550px;
  width: 500px;
  height: 40px;
}

.form-post {
  margin-right: 200px;
  margin-left: 200px;
  height: 20%;
  display: flex;
}

.form-hor {
  padding-left: 300px;
  padding-top: 20px;
  width: 1200px;
  height: 100px;
}

.btn {
  border-radius: 3px;
  padding: 20 px 15 px;
  text-decoration: none;
  text-shadow: 0 1px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial;
}
#main-container {
  margin: 150px auto;
  width: 600px;
}

table {
  background-color: rgb(255, 255, 255);
  text-align: left;
  width: 80%;
  margin: auto;
}

th,
td {
  padding: 20;
}

thead {
  background-color: #6b2da5;
  color: white;
}

.imagenAgenda {
  width: 70px;
}

.label1 {
  padding-right: 10px;
}

.form-agendar {
  margin-left: 35%;
}

.datosCita {
  color: #259ca5;
}

.cajatext {
  width: 426px;
}

.label {
  border: grey 2px solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6%;
}

.textArea {
  resize: none;
}

.columnTextArea {
  padding-left: 3rem;
}

.marginBotton {
  margin-bottom: 4rem;
}

.boton {
  box-shadow: 7px 8px 0px -4px rgba(0, 0, 0, 1);
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  text-shadow: 0 1px;
}

.divBoton2 {
  margin-top: 0.8rem;
  margin-right: 0;
  padding-right: 0;
}

.boton2 {
  box-shadow: 7px 8px 0px -4px rgba(0, 0, 0, 1);
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.7rem 2.7rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  text-shadow: 0 1px;
}

.left {
  text-align: end;
}

.right {
  text-align: start;
}

.lineaEspacioDerecha {
  padding-right: 0rem;
}

.lineaEspacioIzquierda {
  padding-left: 0rem;
}

.lineaEspacioDerecha2 {
  padding-right: 3rem;
}

.lineaEspacioIzquierda2 {
  padding-left: 3rem;
}

.label {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.div {
  padding-left: 6rem;
}

.seccion {
  padding-right: 2rem;
}

.labelFecha {
  margin-top: 0.2rem;
}

.autocompletado {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.restriccion {
  color: rgba(238, 0, 0, 0.452);
  margin-left: 100px;
}

.seleccion {
  text-align: left;
}

.rangoHoraDiv{
  padding-top: 1rem;
}

.formato{
  padding-top: 1rem;
}

.setStyles{
  margin-left: 400px;
}